<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Bank Accounts</h1>
  
    <input
      type="text"
      placeholder="Search..."
      class="border p-2 mb-3"
      ng-model="$ctrl.searchQuery"
    />
  
    <table class="min-w-full bg-white shadow rounded overflow-hidden">
      <thead>
        <tr class="bg-gray-200 text-gray-700 uppercase text-sm leading-normal">
          <th ng-click="$ctrl.setSort('accountName')">Account Name</th>
          <th ng-click="$ctrl.setSort('ownerName')">Owner Name</th>
          <th ng-click="$ctrl.setSort('createdDate')">Created Date</th>
          <th ng-click="$ctrl.setSort('checkingAmount')">Checking</th>
          <th ng-click="$ctrl.setSort('savingsAmount')">Savings</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="account in $ctrl.filteredAccounts() 
            | orderBy:$ctrl.sortColumn:$ctrl.reverseSort"
          class="border-b border-gray-200 hover:bg-gray-100"
        >
          <td>
            <a
              ui-sref="accountDetails({ accountId: account.accountId })"
              class="text-blue-500 hover:underline"
            >
              {{account.accountName}}
            </a>
          </td>
          <td>{{account.ownerName}}</td>
          <td>{{account.createdDate | date:'MM-dd-yyyy'}}</td>
          <td>{{account.checkingAmount | currency}}</td>
          <td>{{account.savingsAmount | currency}}</td>
          <td>
            <button
              class="text-white bg-red-500 hover:bg-red-600 py-1 px-2 rounded"
              ng-click="$ctrl.deleteAccount(account.accountId)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Could also have a button that opens the add account popup -->
  </div>
  