<div class="account-detail-container" ng-if="$ctrl.accountDetail">
  <header class="account-header">
    <h2>Account Detail</h2>
  </header>
  <main class="account-content">
    <div class="content-box">
      <p><strong>Account Name:</strong> {{$ctrl.accountDetail.accountName}}</p>
      <p><strong>Owner Name:</strong> {{$ctrl.accountDetail.ownerName}}</p>
      <p><strong>Owner Birthdate:</strong> {{$ctrl.accountDetail.ownerBirthdate | date:'MM-dd-yyyy'}}</p>
      <p ng-if="$ctrl.ownerAge != null"><strong>Owner Age:</strong> {{$ctrl.ownerAge}}</p>
      <p><strong>FICO Score:</strong> {{$ctrl.accountDetail.ficoScore}}</p>
      <hr />
      <p><strong>Checking:</strong> {{$ctrl.accountDetail.checkingAmount | currency}}</p>
      <p><strong>Savings:</strong> {{$ctrl.accountDetail.savingsAmount | currency}}</p>
      <hr />
      <div>
        <h3>Account Activity</h3>
        <ul>
          <li ng-repeat="activity in $ctrl.accountDetail.activityTimeline">
            <strong>{{activity.type}}:</strong> {{activity.amount | currency}} 
            on {{activity.date | date:'MM-dd-yyyy'}}
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>
